@using WebApplicationStore.Models.StoreDbModels
<!-- Views/User/Create.cshtml -->
@model WebApplicationStore.Models.ViewModels.UserViewModel

<!DOCTYPE html>
<html>
<head>
    <title>ثبت نام کاربر</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <form asp-action="Create" method="post">
        <div>
            <label for="country">کشور</label>
            <select id="country" name="CountryId">
                <option value="">انتخاب کشور</option>
                @foreach (var country in ViewBag.Countries as List<BdCountry>)
                {
                    <option value="@country.Id">@country.Title</option>
                }
            </select>
        </div>

        <div>
            <label for="state">استان</label>
            <select id="state" name="StateId" disabled>
                <option value="">انتخاب استان</option>
            </select>
        </div>

        <div>
            <label for="city">شهر</label>
            <select id="city" name="CityId" disabled>
                <option value="">انتخاب شهر</option>
            </select>
        </div>

        <div>
            <label for="name">نام</label>
            <input type="text" id="name" name="Name" />
        </div>

        <div>
            <label for="address">آدرس</label>
            <input type="text" id="address" name="Address" />
        </div>

        <div>
            <label for="phoneNumber">شماره موبایل</label>
            <input type="text" id="phoneNumber" name="PhoneNumber" />
        </div>

        <button type="submit">ثبت</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#country').change(function () {
                var countryId = $(this).val();
                if (countryId) {
                    $.getJSON('/User/GetStates', { countryId: countryId }, function (data) {
                        var $stateSelect = $('#state');
                        $stateSelect.empty().append('<option value="">انتخاب استان</option>');
                        $.each(data, function (i, state) {
                            $stateSelect.append('<option value="' + state.id + '">' + state.title + '</option>');
                        });
                        $stateSelect.prop('disabled', false);
                        $('#city').empty().append('<option value="">انتخاب شهر</option>').prop('disabled', true);
                    });
                } else {
                    $('#state').empty().append('<option value="">انتخاب استان</option>').prop('disabled', true);
                    $('#city').empty().append('<option value="">انتخاب شهر</option>').prop('disabled', true);
                }
            });

            $('#state').change(function () {
                var stateId = $(this).val();
                if (stateId) {
                    $.getJSON('/User/GetCities', { stateId: stateId }, function (data) {
                        var $citySelect = $('#city');
                        $citySelect.empty().append('<option value="">انتخاب شهر</option>');
                        $.each(data, function (i, city) {
                            $citySelect.append('<option value="' + city.id + '">' + city.title + '</option>');
                        });
                        $citySelect.prop('disabled', false);
                    });
                } else {
                    $('#city').empty().append('<option value="">انتخاب شهر</option>').prop('disabled', true);
                }
            });
        });
    </script>
</body>
</html>
