@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="/identity/account/login"
   class="btn btn-sm btn-white btn-icon rounded-pill d-none d-lg-inline-flex"
   data-toggle="tooltip" data-placement="left">
    <span class="btn-inner--icon"><i class="fas fa-sign-in"></i></span>
    <span class="btn-inner--text">Login</span>
</a>

<a asp-area="Identity" asp-page="/Account/Login"
   class="btn btn-sm btn-white btn-icon rounded-pill d-none d-lg-inline-flex"
   data-toggle="tooltip" data-placement="left">
    <span class="btn-inner--icon"><i class="fas fa-sign-in"></i></span>
    <span class="btn-inner--text">Login</span>
</a>